.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.pokemonCardContainer {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 20px;
  padding: 20px;
  
}

.btn {
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: none;
  background-color: #d69a3f;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn button {
  font-size: 20px;
  padding: 13px 20px;
  border: none;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn button:hover {
  background-color: #808080;
  color: #fff;
}
